.vopros-chat {
  padding-bottom: 12px;
}
.vopros-chat .chat-log {
  border: 1px solid #cccccc;
  border-width: 1px 0;
  height: 220px;
  margin-top: 10px;
  overflow: auto;
  padding-right: 5px;
}
.vopros-chat-message {
  clear: both;
}
.vopros-chat .message-content {
  float: left;
  width: 90%;
}
.vopros-chat .message-author,
.vopros-chat .message-server-message {
  font-weight: bold;
}
.vopros-chat .message-time {
  color: #858585;
  float: right;
  font-size: 12px;
}
